@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #fafafa;
  --color-primary: #006ce6;
  --color-secondary: #d1d5d8;
  --color-primarydark: #0054b3;
  --color-primarylight: #cae1fa;
}

body{
  background-color: #fafafa;
  font-family: Poppins;
}

button.primary{
  background-color: #006ce6;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px #006ce6;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition-duration: 75ms;
}

button.primary:hover{
  background-color: white;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1), 0 0 0 1px #0054b3;
  color: #006ce6;
}

button.secondary{
  align-items: center;
  background-color: #cae1fa;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px #cae1fa;
  color: #006ce6;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  transition-duration: 75ms;
}

button.secondary:hover{
  background-color: #0054b3;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1), 0 0 0 1px #0054b3;
  color: white;
}

div.input{
  align-items: center;
  background-color: #fafafa;
  border-radius: 0.25rem;
  display: flex;
  gap: 1rem;
  padding: 0.625rem 1rem;
  width: 100%;
}

input.input-et{
  background: inherit;
  color: black;
  font-size: 1rem;
  outline: none;
  width: 100%;
}

.custom-list {
  list-style-type: none;
  padding-left: 2.0em; 
}

.custom-list li:before {
  content: "•"; 
  font-size: 17px;
  position: absolute;
  margin-left: -1.5em; 
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp:3 ; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
